body {
  padding: 100px;
}

.submit-area {
  margin-top: 50px;
  padding: 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* margin-top: 100px; */
}

#transaction-area {
  display: none;
}

.deposit,
.withdraw,
.balance {
  margin: 0 20px;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.deposit {
  background-color: slateblue;
}
.withdraw {
  background-color: lightsalmon;
}
.balance {
  background-color: orange;
}
